.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom, rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 100%) , 
        url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background-size: cover;
    position: relative;

    .register__top {

        .register__topWrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 40px;
            }

            .register__btn {
                padding: 10px 20px;
                border: none;
                color: #fff;
                background-color: red;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    .register__container {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;

        h1 {
            font-size: 50px
        }

        h2 {
            margin: 20px
        }

        p {
            font-size: 20px
        }

        .register__getStartedInput {
            margin-top: 20px;
            width: 40%;
            height: 50px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;

            input {
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }

            .register__getStartedBtn {
                flex: 3;
                height: 100%;
                border: none;
                padding: 10px 20px;
                background-color: red;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}